body {
    background-color: #222222;
}
.container {
    margin-top: 10px;
    background-color: #e8d4c4;
    position: relative;
}
.title {
    font-family: arial;
}
.right-stripe {
    background-color: #F8A863;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    width: 30px;
    color: #fff;
}