body {
    background-color: #222222;
    
}
div {
    background-color: #e8d4c4;
}
.container {
    
    background-color: #222222;
    
}
h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-family: "Arial Black", Gadget, sans-serif;
}
/*.right-stripe {
    background-color: #F8A863;
}*/

.right-stripe-text {
    /*transform: rotate(90deg);
	transform-origin: left  top 0;
    display: inline-block;
    margin-left: 11px;
    margin-top: 30px;
    width: 1000px;
    position: absolute;*/
}

.table>tbody>tr>td{
    border-top:solid 1px  #000;
}